
                {% extends 'layout.html' %}
		{% block body %}
		 <br>
                 You have completed {{ totals['total_completed'] }} out of {{ totals['total'] }} todos.
    		{% if totals['total'] == 0 %}
                 <h3>Add some todos</h3>
		 {% elif totals['total_completed'] == totals['total'] %}
		 <h3>Good Job!</h3>
		 {% elif totals['total_completed'] <= totals['total'] - 3 %}
		 <h3>You're falling behind!</h3>
		 {% endif %}
		 <form action="{{ url_for('index') }}" method='POST'>
            	 {{ form.order_with }}
            	 {{ form.submit }}
        	 </form>

                {% for tasks in taskList  %}
		<p> {{ tasks.task}} <br> {% if  tasks.complete %}
		&#9989
		<form action='{{ url_for('incomplete', idNum=tasks.id) }}'>
                <input type=submit value="Incomplete">
                </form>
		{% else %}
		<form action='{{ url_for('complete', idNum=tasks.id) }}'>
                <input type=submit value="Complete">
                </form>
		{% endif %}
           	<form action='{{ url_for('update', idNum=tasks.id) }}'>
                <input type=submit value="Change">
                </form>
		<form action='{{ url_for('delete', idNum=tasks.id) }}'>
           	<input type=submit value="Delete">
                </form>
		</p>
		{% endfor %}
		{% endblock body %}
